<!-- IF S_ENABLE_BUTTONS and S_SHOW_AT_BOTTOM -->
	<h3>{L_SOCIAL_BUTTONS}</h3>
	
<!-- IF S_GOOGLE -->
<span class='st_plusone_hcount' displayText='Google +1'></span>
<!-- ENDIF -->	
	
<!-- IF S_FACEBOOK -->
<span class='st_facebook_hcount' displayText='Facebook'></span><span class='st_fblike_hcount' displayText='Facebook Like'></span>
<!-- ENDIF -->
	
<!-- IF S_TWITTER -->
<span class='st_twitter_hcount' displayText='Tweet'></span>
<!-- ENDIF -->
		
<!-- IF S_LINKEDIN -->
<span class='st_sharethis_hcount' displayText='ShareThis'></span>
<!-- ENDIF -->

<br />
<!-- ENDIF -->
